:host {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: top;
  overflow-x: hidden;
}

#value {
  display: inline-block;
  white-space: nowrap;
  min-width: 5px;
}

#value br {
  display: none;
}

#value:focus {
  outline: 0;
}