@host {
    * {
        display: inline-block;
        color: #4bf9f9;
    }

    * > input, * > textarea {
        display: inline-block;
        height: inherit;
        width: 100%;
        background: transparent;
        color: inherit;
        font-size: inherit;
        border: 0;
        resize: none;
    }

    * > .half-width {
        width: 50%;
    }

    * > .third-width {
        width: 33%;
    }

    * > .quarter-width {
        width: 25%;
    }

    * > .dat-input-boolean {
        background-image: url('./images/check-deselected.svg');
/*        height:100%;
        width:100%;*/
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    * > .dat-input-boolean.true {
        background-image: url('./images/check-selected.svg');
    }

    * > .dat-input-json {
        resize: vertical;
        /**/
        min-height: 60px;
        margin-bottom: -4px;
    }

    * > .error {
        color: #f00;
    }

}