@host {
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;  
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
}

hr {
    border: 0;
    background-color: #666;
    height: 1px;
    margin: 0;      
}

input:focus, textarea:focus {
    outline: none;
}