:host {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: top;
  overflow-x: hidden;
}

#value {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  white-space: nowrap;
  display: block;
}

#value:focus {
  outline: 0;
}

#blocker {
  display: block;
  height: inherit;
  width: auto;
  position: absolute;
  cursor: ew-resize;
  /*background: rgba(0,255,0,0.3);*/
}