:host {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:host > #swatch {
  display: inline-block;
  background: green;
}

:host > #swatch > #picker {
  display: block;
  float: left;
  position: absolute;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  -ms-appearance: button;
  margin: 0;
  padding: 0;
  border: none;
  opacity: 0;
}

:host .slider {
  display: inline-block;
  background: transparent;
}

:host .slider /deep/ #value {
  box-sizing: border-box
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:host #a0 /deep/ #value {
  background: -webkit-linear-gradient(white 91%, red 9%);
  background: -o-linear-gradient(white 91%, red 9%);
  background: -moz-linear-gradient(white 91%, red 9%);
  background: -ms-linear-gradient(white 91%, red 9%);
  background: linear-gradient(white 91%, red 9%);
}

:host #a1 /deep/ #value {
  background: -webkit-linear-gradient(white 91%, green 9%);
  background: -o-linear-gradient(white 91%, green 9%);
  background: -moz-linear-gradient(white 91%, green 9%);
  background: -ms-linear-gradient(white 91%, green 9%);
  background: linear-gradient(white 91%, green 9%);
}

:host #a2 /deep/ #value {
  background: -webkit-linear-gradient(white 91%, blue 9%);
  background: -o-linear-gradient(white 91%, blue 9%);
  background: -moz-linear-gradient(white 91%, blue 9%);
  background: -ms-linear-gradient(white 91%, blue 9%);
  background: linear-gradient(white 91%, blue 9%);
}

:host #a3 /deep/ #value {
  background: -webkit-linear-gradient(white 91%, gray 9%);
  background: -o-linear-gradient(white 91%, gray 9%);
  background: -moz-linear-gradient(white 91%, gray 9%);
  background: -ms-linear-gradient(white 91%, gray 9%);
  background: linear-gradient(white 91%, gray 9%);
}