:host {
  display: inline-block;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: top;
  overflow-x: hidden;
}
#value {
  cursor: pointer;
  text-overflow: ellipsis;
}
#value:focus {
  outline: 0;
}